@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    background-color: lightgray !important;
}

label small {
    color: #6c757d;
}

input.form-control {
    font-family: 'Roboto Mono', Consolas, monospace;
}

textarea.form-control {
    font-family: 'Roboto Mono', Consolas, monospace;
}

svg.icon {
    position: relative;
    top: -2px;
}

svg.icon-disabled {
    color: gray;
}

svg.icon-danger {
    color: #dc3545;
}

.pointer {
    cursor: pointer;
}

a.global-link {
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
}

a.local-link {
    text-decoration-style: dashed !important;
    text-decoration-thickness: 1px !important;
    text-underline-offset: 2px !important;
}
