<hr/>

<div class="row">
    <div class="col-8 form-group">
        <input class="form-control" type="text"
            [(ngModel)]="item.keywords" ngbTooltip="Ключевые слова" placement="left"/>
    </div>
    <div class="col-2">
        <select class="form-control"
            (change)="setItemGender($event.target.value)" ngbTooltip="Род" placement="top">

            <option *ngFor="let gender of genders" [selected]="item.gender == gender">
                {{ gender | genderName }}
            </option>
        </select>
    </div>
    <div class="col-2 form-group" ngbTooltip="Внум" placement="right">
        <input class="form-control" type="text" [value]="item.vnum" disabled/>
    </div>
</div>

<div class="form-group">
    <input class="form-control" type="text"
        [(ngModel)]="item.look" ngbTooltip="Краткое описание" placement="left"/>
</div>

<div ngbTooltip="Название по падежам" placement="right">
    <div class="form-group row">
        <label class="col-2 col-form-label"><small>Это что?</small></label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="item.name.nom"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"><small>Нет чего?</small></label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="item.name.gen"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"><small>Дать чему?</small></label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="item.name.dat"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"><small>Взять что?</small></label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="item.name.acc"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"><small>Ударить чем?</small></label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="item.name.ins"/>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label"><small>Думать о чем?</small></label>
        <div class="col-10">
            <input class="form-control" type="text" [(ngModel)]="item.name.pre"/>
        </div>
    </div>
</div>

<div class="form-group">
    <textarea class="form-control" rows="4"
        [(ngModel)]="item.description" ngbTooltip="Подробное описание" placement="left">
    </textarea>
</div>

<app-ruler></app-ruler>

<table *ngIf="isLocationListVisible()" class="table table-sm mt-3 mb-0 border-bottom">
    <tr *ngFor="let room of locations">
        <td>Находится в комнате</td>
        <td>{{ room.vnum }}&nbsp;
            <a class="global-link pointer" (click)="editRoom(room.vnum)">
                {{ room.title | noTitle }}
            </a>
        </td>
    </tr>
</table>
