<hr *ngIf="area.mobiles.size == 0"/>

<table *ngIf="area.mobiles.size > 0" class="table table-sm mt-3 mb-0 border-bottom">
    <tr *ngFor="let kvp of area.mobiles | keyvalue">

        <td>{{ kvp.value.vnum }}&nbsp;
            <a class="global-link pointer" (click)="editMobile(kvp.value.vnum)">
                {{ kvp.value.name.nom | noTitle }}
            </a>
        </td>

        <td class="text-right">
            <div class="d-inline-block mr-3">
                <svg (click)="cloneMobile(kvp.value.vnum)"
                    class="bi bi-plus-circle icon"
                    [class.pointer]="!isCloneDisabled"
                    [class.icon-disabled]="isCloneDisabled"
                    width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">

                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
            </div>

            <div style="margin-right: 0.55rem;" class="d-inline-block ml-3">
                <svg (click)="deleteMobile(kvp.value.vnum)"
                    class="bi bi-x-circle icon icon-danger pointer"
                    width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">

                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                </svg>
            </div>
        </td>
    </tr>
</table>

<div class="text-center" *ngIf="area.mobiles.size == 0">
    <p class="text-black-50 mb-0">Ни одного моба пока. Создайте!</p>
</div>
